[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = 'William Liebenberg [Microsoft MVP]'
	email = 'awliebenberg@outlook.com'
[init]
	defaultbranch = main
[push]
	# gpgsign = true # GitHub doesn't support this yet
	autoSetupRemote = true
[log]
	showSignature = true
[alias]
	whoami =  !echo $(git config user.name) \"($(git config user.email))\"
	who = !git config user.name && git config user.email
	me = !git config --local user.name 'William Liebenberg [Microsoft MVP]' && git config --local user.email 'awliebenberg@outlook.com' && echo 'Switched to "William Liebenberg [Microsoft MVP] (SSH)".'
	arinco = !git config --local user.name 'William Liebenberg [Arinco • Microsoft MVP]' && git config --local user.email 'william.liebenberg@arinco.com.au' && echo 'Switched to "William Liebenberg [Arinco • Microsoft MVP] (SSH)".'
	new-branch = !git fetch && git checkout origin/main && git pull --no-edit origin main && git checkout -b
	nb = !git new-branch
	update = !git stash && git fetch && git pull --no-edit origin main && git stash pop
	u = !git update
	latest = !git fetch && git pull --no-edit origin main
	l = !git latest
	commit-all = !git add -A && git commit -m
	ca = !git commit-all
	unstage = !git reset HEAD
	undo-commit = !git reset --soft HEAD^
	rso = remote show origin
[core]
	autocrlf = input
[advice]
	addIgnoredFile = false
	detachedHead = false
